
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Jegathish Waran</title>
	<link href="{% static '/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 w-300  border-info" id="profile-wrapper">
					<img id="profile-pic"  src="{% static 'images/20230415_130256.png' %}" >
					<hr>
					<h4>Hi I'm Jegathish!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>Junior Data Extraction Engineer TJ Green Energy Pvt Ltd Coimbatore- India (From Jan-2022 to till date).</p>

					<p>We believe stringing together the world’s scientific medical data can reveal knowledge needed to solve healthcare’s biggest challenges.</p>

					<p>•    Acting as hero and light to other engineers, making scripts to minimize errors and speed up delivery by 70%.</p>
                    <p>•	Ensured end to end process of data extraction until reporting and noted efficiency of close to 90%.</p>
                    <p>•	Created excel sheets of the final output from the scraped website using the modules like Beautiful Soup, requests, Selenium, Urllib, Scrapy.</p>
                    <p>•	Final output is converted to XML as the final output for the client.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					 
                    <p>Data Extraction Engineer</p>
                    <p>Seeking a position where I can   utilize my knowledge, abilities and personal skills while being resourceful, innovative and flexible that offers professional growth along with organization.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, React, Mysql, and rest APIs  and a whole bunch more I can’t possibly mention in one sentence! </p>
					<p>PS: Working on  Django/restframe work and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I want to bilud my on web sites and app without any one help </p>
                <p>I’m ready to learn something new. I'll collaborating and sharing my experience with others on github.</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>